body{
    background-color: rgb(35, 33, 33);
}

header{
    width: 100%;
    height: 100vh;
    background: black;
    clip-path: polygon(0% 0%,100% 0%,100% 100%,80% 85%,0% 100%);
}

nav{
    top: 0%;
    background-color: black;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    
}
.logo{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif ;
    font-weight: bold;
    letter-spacing: 0px;
}
#red{
    color: red;
}

#logoimg{
    height: 50px;
    width: 50px;
}

.menu a{
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
    
}

.menu a:hover{  
    border-bottom: 1px solid red;
    /* background-color: red; */
    transform: scale(1.1);
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#homeimage{
    height: 650px;
    width: auto;
}


.left{
    flex-basis: 50%;
    
}

.right{
    flex-basis: 50%;
    max-width: 500px;
}

.right h1{
    color: red;
    font-size: 60px;
    font-weight: bold;
}

.right p{
    font-size: 30px;
    font-style: italic;
}

.btn{
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 10px 20px ;
    background: transparent;
    border: 1px solid red;
    border-radius: 10px;
    margin: 5px;
}

.btn:hover{
    background-color: black;
    transform: scale(1.1);
}


#about-sec{
    padding: 100px 0px;
    height: 100%;
    text-align: center;
    /* background: black; */
    /* clip-path: polygon(0% 100%,80% 85%,100% 100%); */
    
}


.about-us{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 2px solid black; */
}

.about-left{
    flex-basis: 50%;
    /* border: 2px solid red; */
    padding: 4%;
    box-shadow: 0px 0px 30px rgb(209, 62, 62);
    border-radius: 40px;
}
.about-right{
    padding-right: 50px;
    flex-basis: 50%;
    align-items: center;
    /* border: 2px solid red; */
    width: 100%;
    height: 100%;
    position: relative;
    padding: 5%;
    margin-top: 0px;
    
    
    
}
.about-right::before{
    content: '';
    display: block;
    position: absolute;
    top: 0;left: 0;
    width: 50%;
    left: 0%;
    /* border-top: 20px solid rgb(225, 4, 4); */

}
.about-right img{
    width: 800px;
    height: auto;
    /* box-shadow: -10px 10px 0px rgb(253, 0, 0); */
}

.about-left{
    max-width: 500px;
    margin-left: 60px;
}

.about-left:hover{
    border-radius:40px;
    box-shadow: 0px 0px 30px rgb(209, 62, 62);
}
.about-left h1{
    font-size: 50px;
    color: white;
    text-align: center;
    margin:15px 0px;
}

.about-left p{
    font-size: 20px;
    color: white;
    text-align: center;
}


#trainer-div{
    width: 100%;
    height: 100vh;
    background: black;
    
}

.t1{
    float: 33%;
    border-radius: 2px solid red;
    
}
.t2{
    float: 33%;
}
.t3{
    float: 33%;
}

